/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media(max-width:960px){
    .benefits{
        margin-bottom: 75px;
    }
    .benefits__card{
        margin-bottom: 60px;
    }
    .search-form__field{
        margin-bottom: 25px;
    }
    .benefits__cards{
        padding:0 15px;
        column-gap:35px;
    }
    .benefits__title{
        padding: 55px 15px;
    }
    .benefits__wrap{
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .places__card_size_lg{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .places__card_size_sm{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .tours__tour{
        column-gap:35px;
    }
    .tour__info{
        padding-left: 0;
    }
    .tour__title{
        margin-bottom: 15px;
    }
    .tour__desc{
        margin-bottom: 15px;
    }
    .top__cards{
        -webkit-column-gap:25px;
           -moz-column-gap:25px;
                column-gap:25px;
        row-gap: 55px;
    }
    .top__card{
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .top__card-pic{
        margin-bottom: 25px;
    }
    .footer{
        padding: 60px 0;
    }
}

@media(max-width:767px){
    .header__burger{
        display:block;
    }
    .header__wrapper{
        padding-top: 28px;
    }
    .header__nav{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #000;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }
    .header__nav-active{
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }
    .header__item{
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .header__item:last-child{
        margin-bottom: 0;
    }
    .header__link{
        font-size: 42px;
        line-height: 48px;
    }
    .header__nav-close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
        
    }
    .header__nav-close-line{
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .header__nav-close-line:first-child{
        -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
                transform: translateY(-50%) rotate(45deg);
    }
    .header__nav-close-line:last-child{
        -webkit-transform: translateY(-50%) rotate(-45deg);
            -ms-transform: translateY(-50%) rotate(-45deg);
                transform: translateY(-50%) rotate(-45deg);
    }
    .benefits__card{
        -ms-grid-column-span: 3;
        grid-column: span 3;
    }
    .search-form__field{
        margin-right: 0;
        width: 100%;
        padding-bottom: 12px;
        background: url(../img/Oval.svg) no-repeat left 2px;
    }
    .search-form__field::-webkit-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::-moz-placeholder{
        font-size: 16px;
    }
    .search-form__field:-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::-ms-input-placeholder{
        font-size: 16px;
    }
    .search-form__field::placeholder{
        font-size: 16px;
    }
    .search-form__submit{
        width: 100%;
    }
    .intro{
        padding-top: 125px;
    }
    .intro__title{
        font-size: 32px;
        line-height: 48px;
    }
    .intro__subtitle{
        font-size: 14px;
    }
    .top__card-stats{
        max-width: ;
    }

}
@media(max-width:570px){
    .header__nav{
        padding: 75px 30px;
    }
    .benefits{
        margin-bottom: 37px;
    }
    .benefits__card{
        margin-bottom: 40px;
    }
    .benefits__card-pic{
        margin-bottom: 20px;
    }
    .benefits__card-title{
        margin-bottom: 12px;
    }
    .benefits__card-desc{
        margin-bottom: 20px;
    }
    .section__title{
        margin-bottom: 25px;
    }
    .section__title::after{
        width: 78px;
    }
    .places{
        margin-bottom: 70px;
    }
    .top{
        margin-bottom: 70px;
    }
    .tour__pic, .tour__info{
        -ms-grid-column-span: 2;
        grid-column: span 2;
    }
    .tour__pic{
        margin-bottom: 12px;
    }
    .tour__pic_mob-first{
        -ms-grid-row:-1 ;
            grid-row-start:-1 ;
    }
    .tours__tour{
        margin-bottom: 50px;
    }
    .tours{
        margin-bottom: 70px;
    }
    .top__card{
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }
    .top__card-stats{
        max-width: 386px;
    }
    .top__card-desc{
        margin-bottom: 15px;
    }
    .footer__logo{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__nav{
        width: 100%;
    }
    
};